.logoName {
  margin-left: 42%;
  color: #edf2f4;
}

.footer {
  margin-top: 10%;
  padding: 1rem;
  background-color: #343a40;
  position: fixed;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 100%;
}

.welcomeText {
  font-size: 4.2vw;
}

.logButtonGroup {
  display: flex;
  column-gap: 20%;
  justify-content: space-around;
  margin-top: 15%;
}

.welcomeTextGroup {
  position: absolute;
  top: 32%;
  left: 50%;
}

.btn-lg {
  font-size: 2.2vw;
}

.vidHomePage {
  width: 30%;
  margin-top: 6%;
  margin-left: 10%;
  border-radius: 8%;
}

.loginNavBar {
  margin-left: 40%;
  font-size: 1.3vw;
}

.signupNavBar {
  margin-left: 40%;
}

.nameNavBar {
  margin-left: 15%;
  margin-right: 5%;
  color:white;
  font-weight: 200;
  font-size: 1.2vw;
}

.logOutButton {
  margin-right: 5%;
}

.homepageButton {
  position: absolute;
  right: 5%;
}


.ForwardRef-root-1 {
  width: 50%;
  margin-left: 25%;
  margin-top: 1%;
}

.MuiPaper-elevation1 {
  border: 1px solid black;
}

.framePaper {
  margin-left: 5%;
  margin-top: 5%;
  width:50%;
}

body {
  overflow-x: hidden; /* Hide horizontal scrollbar */
  margin-bottom: 10%;
}

.selectedVideo {
  width: 50vw;
  height: 70vh;
}

.videoDetail {
  width: 50vw;
}

.videoListWidth {
  width: 10px;
}

.addToHistory {
  width:85%;
  font-size: 2vw;
  margin-left: 5%;
  margin-top: -4.1%;
}


