.logoName {
  margin-left: 42%;
  color: #edf2f4;
}

.footer {
  margin-top: 1rem;
  padding: 1rem;
  background-color: #343a40;
  position: fixed;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 100%;
}

.welcomeText {
  font-size: 4.2vw;
}

.logButtonGroup {
  display: flex;
  column-gap: 20%;
  justify-content: space-around;
  margin-top: 15%;
}

.welcomeTextGroup {
  position: absolute;
  top: 32%;
  left: 50%;
}

.btn-lg {
  font-size: 2.2vw;
}

.vidHomePage {
  width: 30%;
  margin-top: 6%;
  margin-left: 10%;
  border-radius: 8%;
}

.loginNavBar {
  margin-left: 40%;
  font-size: 1.3vw;
}

.signupNavBar {
  margin-left: 40%;
}

.nameNavBar {
  margin-left: 27%;
  margin-right: 3%;
  color:white;
  font-weight: 200;
  font-size: 1.2vw;
}

.logOutButton {
  margin-right: 2%;
}

.searchBar {
  margin-top: 15%;
  margin-left:8%;
  font-size: 3vw;
}
